
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdepAiSv8BD36BsJbSxjIuhNK9FrJNA98">
    </script> 

<div class='row'>
  <div class='col-xs-4' id='avatar'>
   <% if current_user.image %>
   <img src='<%= current_user.image %>' style='width: 100%; height: 100%;'></img>
   <%else%>
   <img src="<%= asset_path('avatar.svg') %>" style='width: 100%; height: 100%;'></img>
   <%end%>
  </div>
  <div class='col-xs-7' id='header'>
    <h1>Hi <%= current_user.username %></h1>
    <p id='age'> <%=current_user.sex%> <%=current_user.age%></p>
    <% if current_user.description %>
    <p class='aboutme'><%= current_user.description %></p>
    <%else%>
    <p class='aboutme'>Add your about me here.</p>
    <%end%>
    <a class='btn btn-default' href='/users/description'>Edit description <i class="fa fa-pencil-square-o"></i></a>
    <a class='btn btn-default' href='/edit/image'>Edit picture <i class="fa fa-camera"></i></a>

  </div>
</div>

<div class='row-fluid'>
  <div class='col-xs-4'>
  	<!-- <h1 id='home'>Welcome, <%= current_user.username %></h1> -->
    <p class='fitgoal'><%= current_user.goal %></p>
    <p class='level'><%= current_user.level %></p><br>

     <% if current_user.lat %>
     <a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#mapModal" id='mapbutton'>Find FitBuddies! <i class="fa fa-users"></i></a><br><br>
     <%else%>
     <h4>you must set your location to find FitBuddies</h4>
     <a href='#' class='btn btn-lg btn-success' disabled="disabled">Find FitBuddies! </a><br><br>
     <%end%>
     <% if @unread_message_count > 0 %>
     <a href='/messages/show' class="btn btn-lg btn-success"><i class="fa fa-envelope-o" style='color: red;'><%=@unread_message_count%></i>  Messages <i class='fa fa-comment'></i></a><br><br>
     <%else%>
     <a href="/messages/show" class="btn btn-lg btn-success">Messages <i class='fa fa-comment'></i></a><br><br>
     <%end%>
    <a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#basicModal">Update my fitness goal <i class="fa fa-road"></i></a><br><br>
     <a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#expModal">Update my experience <i class="fa fa-level-up"></i></a><br><br>
     <a href="#" class="btn btn-lg btn-success"
     data-toggle="modal"
     data-target="#locModal" id='locbutton'>Update my location <i class="fa fa-globe"></i></a><br><br>
     <a href="/workouts/new" class="btn btn-lg btn-success" id='workout'>Post a workout <i class="fa fa-plus-square"></i></a><br><br>


  </div>
  <div class='col-xs-8'>
    <h2>Your workout feed:</h2>
    <% @workouts.each do |w| %>
    <h3><a href='/<%= w.author %>'><%= w.author %></a> posted "<%= w.title %>" for <%=w.date%></h3>
    <p><%= w.content %></p>
    <%end%>

    
  </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Enter your fitness goal</h4>
            </div>
            <div class="modal-body">
                <select id='goal'>
                	<option value='Weight Loss'>Weight loss</option>
                	<option value='Powerlifting'>Powerlifting</option>
                	<option value='endurance'>endurance</option>
                	<option value='biking'>biking</option>
                	<option value='running'>running</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#basicModal' id='setgoal'>Save changes</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="expModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Select your fitness level:</h4>
            </div>
            <div class="modal-body">
                <select id='experience'>
                  <option value='beginner'>beginner</option>
                  <option value='intermediate'>intermediate</option>
                  <option value='expert'>expert</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#expModal' id='setexp'>Save changes</button>
        </div>
    </div>
  </div>
</div>

   <div class="modal fade" id="locModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Change Location</h4>
            </div>
            <div class="modal-body">
                <div id='setting'>
                	<p>finding your location, please wait...</p>
                </div>
                <div id='found'>
                	<p>Found your location!</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#locModal' id='setlocal'>Set location</button>
        </div>
    </div>
  </div>
</div>


 <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">FitFriends:</h4>
            </div>
            <div class="modal-body">
                <div id='map-canvas' style="width: 550px; height: 550px"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>



<style type="text/css">
/*
 * This page doesn't cooperate with setting the height to 100%,
 * so we'll set it back to the default. Sorry about that.
 */
#main {
  height: auto !important;
}
</style>
   



