<div class='row'>
	<div class='col-xs-4'>
		<h1><%= @user.username %></h1>
		<% if @user.image == nil %>
		<img src='assets/avatar.svg'></img>
		<%else%>
		<img src='<%= @user.image %>'></img>
		<%end%>
		<h2><%= @user.goal %></h2>

	</div>
	<div class='col-xs-7'>
		<h1>About <%= @user.username %></h1>
	</div>

</div>
<div class='row'>
	<div class='col-xs-4' style='margin-top: 20px;'>

	<h4>Send <%= @user.username %> a message: </h4>

	<%= form_tag("/messages/new", method: "post") do %>
 	 <%= text_field_tag(:subject, nil, placeholder: "subject") %><br><br>
 	 <%= text_area_tag(:content, nil, placeholder: "content", :cols => "40", :rows => "10") %><br>
 	 <%= hidden_field_tag(:target_id, @user.id) %>
 	 <%= hidden_field_tag(:reciever, @user.username) %>
 	 <%= hidden_field_tag(:sender_id, current_user.id) %>
    <%= submit_tag("submit", class: "button") %>
	<% end %>
	</div>
	<div class='col-xs-6'>
		<div id='workouts'>
			<h2>Workouts posted by <%= @user.username %></h2>
		</div>
	</div>

</div>

