<div class='row'>
	<div class='col-xs-4'>
		<h1><%= @user.username %></h1>
		<% if @user.image == nil %>
		<img src='<%= asset_path('avatar.svg') %>'></img>
		<%else%>
		<img src='<%= @user.image %>' style='max-width: 100%; max-height: 100%;'></img> 
		<%end%>
		<p class='fitgoal'><%= @user.goal %></p>
		<p class='level'><%= @user.level %></p>

	</div>
	<div class='col-xs-7' class='header'>
		<h1>About <%= @user.username %> <span>
			<% if current_user && current_user.username != @user.username %>
				<% if !current_user.subscribees.include?(@user) %>
				<a href='/<%=@user.id%>/subscribe' class='btn btn-info'>Follow</a>
				<%elsif current_user.subscribees.include?(@user) %>
				<a href='/<%=@user.id%>/subscription/delete' class='btn btn-info'>Unfollow</a>
				<%end%>
			<%end%>
			</span></h1>
			<p id='age'> <%=@user.sex%> <%=@user.age%></p>

		<p class='aboutme'> <%=@user.description%></p>
	</div>

</div>
<div class='row'>
	<div class='col-xs-4' style='margin-top: 20px; margin-bottom: 20px;'>

	<h4>Send <%= @user.username %> a message: </h4>

	<%= form_tag("/messages/new", method: "post") do %>
 	 <%= text_field_tag(:subject, nil, placeholder: "subject") %><br><br>
 	 <%= text_area_tag(:content, nil, placeholder: "content", :cols => "40", :rows => "10") %><br>
 	 <%= hidden_field_tag(:target_id, @user.id) %>
 	 <%= hidden_field_tag(:reciever, @user.username) %>
 	 <%= hidden_field_tag(:sender_id, current_user.id) %>
    <button type='submit' class='btn btn-defaut'>Send message <i class="fa fa-paper-plane"></i></button><br><br>
	<% end %>
	</div>
	<div class='col-xs-6'>
		<div id='workouts'>
			<h2>Workouts posted by <%= @user.username %></h2>
		</div>
		<div>
			<% @workouts.each do |w| %>
			<h3><%= w.title %> <%=w.date%></h3>
			<p><%= w.content %><p>
			<%end%>
		</div>
		</div>
	</div>

</div>

<style type="text/css">
/*
 * This page doesn't cooperate with setting the height to 100%,
 * so we'll set it back to the default. Sorry about that.
 */
#main {
  height: 100%;
}
</style>

